

.title-welcome {
    margin: 0;
    font-size: 40px;
    margin-top: 1px;

    
}
.nav-bar {
    list-style: none;
    display: flex;
    padding:0px;
    color: #dddddd;
}

.boton-seccion{
    margin: 22px 22px;
}
body {
    background-color: blueviolet;
    margin: 0;
}
.primera-seccion{
    margin-left: 0;
}
a{
    text-decoration:none;
    color: white;
    font-family: cursive;
}
.link-instagram {
    margin-right: 5px;
}
.informacion-titulo{
    color: white;
    background-color: #ab66ea;
}
.bordes{
margin: 0px 40px;


}

.texto-adopcion{
    color: white;
    background-color: #ab66ea;
    padding-bottom: 27px;
    box-shadow: rgb(0 0 0 / 75%) 7px 10px 23px -4px;
}
.texto-colaborar{
    color: white;
    background-color: #ab66ea;
}
.genero {
    display: flex;
    align-items: center;
}
.icono-genero {
    width: 26px;
    height: 26px;
}
.medida-foto{
    width: 211px;
    height: 260px;
}
.tarjeta-perros{
    background-color: #ab66ea;
    box-shadow: rgb(0 0 0 / 75%) 6px 7px 26px 5px;
    border-radius: 17px;
    width: fit-content;
    height: fit-content;
    padding: 14px;
    margin: 14px;
    border-radius: 17px;
}

.no-margin {
    margin: 0px;
}
.subtitulo-adopcion{
    margin-top: 17px;
    margin-bottom: 50px;
    font-weight: normal;
}

.contenedor-tarjetas {
    flex-wrap: wrap;
    display: flex;
    margin: 0px 127px;
}
.foto-donaciones{
    width: 425px;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 75%) 7px 10px 23px -4px;
}
.foto-ubicacion{
    height: 412px;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 75%) 7px 10px 23px -4px;
}
.texto-requisitos{
    color: white;
    background-color: #ab66ea;
    
}
.foto-inicio{
    height: 434px;
    padding-bottom: 1px;
    box-shadow: rgb(0 0 0 / 75%) 7px 10px 23px -4px;
    border-radius: 17px;
}
.info-extra-inicio{
    margin: 0px 40px;
}
